.places h1 {
    font-size: 30px;
}

.places h2 {
    padding: 20px;
    margin: 20px;
    width: 390px;
    border: 1px solid red;
    border-radius: 4px;
    text-align: center;
    font-size: 30px;
}

.pcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}